<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net48" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net48" />
  <package id="Dapper" version="1.50.5" targetFramework="net48" />
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net48" />
  <package id="IronPython" version="2.7.9" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Serialize.Linq" version="1.8.1" targetFramework="net48" />
  <package id="SharpDX" version="2.5.0" targetFramework="net48" />
  <package id="SharpDX.D3DCompiler" version="2.5.0" targetFramework="net48" />
  <package id="SharpDX.Direct2D1" version="2.5.0" targetFramework="net48" />
  <package id="SharpDX.Direct3D10" version="2.5.0" targetFramework="net48" />
  <package id="SharpDX.Direct3D9" version="2.5.0" targetFramework="net48" />
  <package id="SharpDX.DXGI" version="2.5.0" targetFramework="net48" />
  <package id="Simplic.Authentication" version="6.2.118.628" targetFramework="net48" />
  <package id="Simplic.Authorization" version="6.2.218.824" targetFramework="net48" />
  <package id="Simplic.ComponentLicense" version="1.0.18.814" targetFramework="net48" />
  <package id="Simplic.CoreLib" version="6.16.119.618" targetFramework="net48" />
  <package id="Simplic.Data" version="1.6.19.614" targetFramework="net48" />
  <package id="Simplic.Dlr" version="1.3.119.705" targetFramework="net48" />
  <package id="Simplic.Framework.Base" version="7.2.20.321" targetFramework="net48" />
  <package id="Simplic.Framework.DBUI" version="7.2.20.321" targetFramework="net48" />
  <package id="Simplic.Icon" version="6.0.18.620" targetFramework="net48" />
  <package id="Simplic.Localization" version="6.0.118.913" targetFramework="net48" />
  <package id="Simplic.Localization.UI" version="1.0.0.2" targetFramework="net48" />
  <package id="Simplic.Session" version="6.3.19.127" targetFramework="net48" />
  <package id="Simplic.Sql" version="6.2.18.926" targetFramework="net48" />
  <package id="Simplic.Studio.UI" version="1.4.119.723" targetFramework="net48" />
  <package id="Simplic.Studio.UI.Input" version="1.2.19.723" targetFramework="net48" />
  <package id="Simplic.TenantSystem" version="1.2.19.127" targetFramework="net48" />
  <package id="Simplic.Tracking" version="6.0.18.619" targetFramework="net48" />
  <package id="Simplic.UIDataTemplate" version="1.1.20.321" targetFramework="net48" />
  <package id="Simplic.Viewer.Annotation" version="1.1.18.1121" targetFramework="net48" />
  <package id="SmartFormat.Net" version="2.1.0.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net48" />
  <package id="Telerik.Reporting" version="14.0.20.219" targetFramework="net48" />
  <package id="Telerik.ReportViewer.Wpf" version="14.0.20.219" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Chart.Direct2D.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Chart.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Charting.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Data.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.DataVisualization.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Docking.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Expressions.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.GridView.Export.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.GridView.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Input.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Navigation.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.RibbonView.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.ScheduleView.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Spreadsheet.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Data.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Diagrams.Core.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Core" version="2020.1.212" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Fixed" version="2020.1.212" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Flow" version="2020.1.212" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.for.Wpf.Xaml" version="2020.1.218" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Spreadsheet" version="2020.1.212" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml" version="2020.1.212" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Spreadsheet.FormatProviders.Pdf" version="2020.1.212" targetFramework="net48" />
  <package id="Telerik.Windows.Zip" version="2020.1.212" targetFramework="net48" />
  <package id="TemplateParser" version="6.1.20.321" targetFramework="net48" />
  <package id="Unity.Abstractions" version="5.11.4" targetFramework="net48" />
  <package id="Unity.Container" version="5.11.5" targetFramework="net48" />
  <package id="Unity.ServiceLocation" version="5.11.1" targetFramework="net48" />
</packages>